// primary
$softblue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
//neutral
$mainbg_darkblue:hsl(217, 54%, 11%);
$card_bg: hsl(216, 50%, 16%);
$linecolor: hsl(215, 32%, 27%);
$white:hsl(0, 0%, 100%);

//font size '
$font:0.778rem; //18px
$font_lg: 1.38rem;
